---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  // 動的にページを生成するためのパスを作成
  return [
    { params: { id: 125 } },
    { params: { id: 2 } },
    { params: { id: 3 } },
  ];
}

// 動的に取得したデータ
const { id } = Astro.params;
---

<!-- ページ内容を表示 -->
<Layout title="hoge">
  <div>
    {id}
  </div>
</Layout>
