---
import Layout from "../../layouts/Layout.astro";
import { fetchData } from "../../utils/fetchData";

export async function getStaticPaths() {
  const url = "https://hsc03.xsrv.jp/design";
  const api = `${url}/wp-json/wp/v2/works?per_page=100&page=1`;
  const works = await fetch(api).then(response => response.json());

  return works.map((work: { id: any }) => {
    return {
      params: { id: work.id },
      props: { work },
    };
  });
}

// 動的に取得したデータ
const { id } = Astro.params;
---

<!-- ページ内容を表示 -->
<Layout title="hoge">
  <div>
    {id}
  </div>
</Layout>
