---
import Layout from "../../layouts/Layout.astro";
import { fetchData } from "../../utils/fetchData";

export async function getStaticPaths() {
  const url = "https://hsc03.xsrv.jp/design";
  const api = `${url}/wp-json/wp/v2/works?per_page=100&page=1`;
  const res = await fetch(api);
  const works = await res.json();

  return [
    { params: { id: works[0].id } },
    { params: { id: works[1].id } },
    { params: { id: works[2].id } },
  ];
}

// 動的に取得したデータ
const { id } = Astro.params;
---

<!-- ページ内容を表示 -->
<Layout title="hoge">
  <div>
    {id}
  </div>
</Layout>
