---
import Layout from "../../layouts/Layout.astro";
import { fetchData } from "../../utils/fetchData";

export async function getStaticPaths() {
  const url = "https://hsc03.xsrv.jp/design";
  const api = `${url}/wp-json/wp/v2/works?per_page=100&page=1`;

  // データ取得とエラーハンドリング
  const works = await fetchData(api);
  if (!works) {
    return []; // エラーの場合、空の配列を返す
  }

  // 動的にページを生成するためのパスを作成
  return works.map((data: { id: number; acf: { client_name: any } }) => ({
    params: { id: data.id.toString() }, // IDを文字列化してパスとして指定
    props: {
      id: data.id,
      name: data.acf.client_name,
    },
  }));
}

// 動的に取得したデータ
const { id, name } = Astro.props;
---

<!-- ページ内容を表示 -->
<Layout title={name}>
  <p>
    {id}
  </p>
  <p>
    {name}
  </p>
</Layout>
