---
import Layout from "../../layouts/Layout.astro";
import json from "../../content/data/storeData.json";
---

<Layout title={json.name}>
  <main>
    <div>
      <a href="./1">works1</a>
    </div>
    <div>
      <a href="./2">works2</a>
    </div>
    <div>
      <a href="./3">works3</a>
    </div>
  </main>
</Layout>
