---
import Layout from "../../layouts/Layout.astro";
import json from "../../content/data/storeData.json";
import ArchiveWork from "../../components/archive";
---

<Layout title={json.name}>
  <main>
    <ArchiveWork client:load />
  </main>
</Layout>
