---
import json from "../content/data/storeData.json";
---

<section>
  <div>
    <p>
      {json.name}
    </p>
    <p>
      {json.attribute.address ? <div>{json.attribute.address}</div> : null}
    </p>
  </div>
</section>
