---
import json from "../../config/data.json";
// interface Props {
// 	body: string;

// }

const { body } = Astro.props;
const store = json.stores[0];
---

<section>
	<div>
		{store.name}
	</div>
</section>
