---
import { getConfig } from "../functions/getData";

const config = await getConfig();
---

<section>
	<div>
		<p>
			{config.name}
		</p>
		<p>
			{config.attribute.address}
		</p>
	</div>
</section>
